In [35]:
import pandas as pd
import numpy as np

In [36]:
results = pd.read_csv("data/electoral_votes.csv")
results

,Display Name,Surname,First Name,Middle Name,1789,1792,1796,1800,1804,1808,...,1984,1988,1992,1996,2000,2004,2008,2012,2016,2020
0,George Washington,Washington,George,NaN,69.0,132.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,John Adams,Adams,John,NaN,34.0,77.0,71.0,65.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Samuel Huntington,Huntington,Samuel,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,John Jay,Jay,John,NaN,9.0,NaN,5.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,John Hancock,Hancock,John,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Ron Paul,Paul,Ron,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
115,John Kasich,Kasich,John,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
116,Colin Powell,Powell,Colin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
117,Faith Spotted Eagle,Spotted Eagle,Faith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
118,Joseph R. Biden Jr.,Biden,Joseph,R.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,306.0

In 1868, Horatio Seymour received NINE electoral votes from the state of Georgia. According to the [National Archives](https://www.archives.gov/electoral-college/1868), these votes were contested, with the Senate and the House of Representatives unable to come to an agreement on whether or not to accept them. Since these votes did not change the outcome of the election, the issue was never resolved. In compiling the spreadsheet, I entered the electoral vote tally as 71(80). In order to normalize the data to an integer, I am including Georgia's votes and going with the larger number of 80 for the purposes of this project.

In [37]:
# Changing Horatio Seymour's entry of '71(80)' to '80'
originalSeymour = results.loc[50, "1868"] # Retains the original entry
results.loc[50,'1868'] = '80' # Updates Seymour's 1868 entry to 80
originalSeymour, results.loc[50, "1868"] # Displays the original value and the updated value

('71(80)', '80')

In [64]:
# Converts all empty name-related spaces from NaN to blank. This covers columns 0-4.
results[results.columns[0:4]] = results[results.columns[0:4]].fillna('')

# Now to convert all empty spaces for each year's vote totals from NaN to 0. This starts at column 4 so as to avoid the various name fields in columns 0-3.
results[results.columns[4:]] = results[results.columns[4:]].fillna(0)

# Dropping the decimal places.
results[results.columns[4:]] = results[results.columns[4:]].astype(int)
results

,Display Name,Surname,First Name,Middle Name,1789,1792,1796,1800,1804,1808,...,1984,1988,1992,1996,2000,2004,2008,2012,2016,2020
0,George Washington,Washington,George,,69,132,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,John Adams,Adams,John,,34,77,71,65,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Samuel Huntington,Huntington,Samuel,,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,John Jay,Jay,John,,9,0,5,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,John Hancock,Hancock,John,,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Ron Paul,Paul,Ron,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
115,John Kasich,Kasich,John,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
116,Colin Powell,Powell,Colin,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
117,Faith Spotted Eagle,Spotted Eagle,Faith,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
118,Joseph R. Biden Jr.,Biden,Joseph,R.,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,306

In [65]:
polished_results = results.drop(['Surname', 'First Name', 'Middle Name'], axis=1)
polished_results = polished_results.rename(columns={'Display Name': 'Name'})

In [66]:
html_transform = polished_results.to_html(index=False)
text = open("data/results.html", "w")
# text.write(html_transform)
text.write('<link rel="stylesheet" href="../css/styles.css">\n' + html_transform)
text.close()